.login-form-parent{
    display: flex;
    justify-content: center;
    padding-top: 12%;
  }
  .login-form-container{
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  